{% load i18n %}
{% load money %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            {% trans "PayShop Payment Reference" %}
        </h4>
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <p><strong>{% trans "Payment Instructions:" %}</strong></p>
            <p>{% trans "Use the following reference to pay in cash at any PayShop location:" %}</p>
            
            <div class="payment-reference" style="background: #f5f5f5; padding: 15px; margin: 10px 0; border-radius: 5px;">
                <div class="row">
                    <div class="col-sm-6">
                        <strong>{% trans "Reference:" %}</strong><br>
                        <code id="payshop-reference" style="font-size: 18px;">{{ payment_info.reference|default:"123456789" }}</code>
                    </div>
                    <div class="col-sm-6">
                        <strong>{% trans "Amount:" %}</strong><br>
                        <code id="payshop-amount" style="font-size: 18px;">{{ payment.amount|money:event.currency }}</code>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        <strong>{% trans "Valid until:" %}</strong><br>
                        <code>{{ payment_info.expires_at|default:"30 days" }}</code>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <h5>{% trans "How to pay:" %}</h5>
                    <ol>
                        <li>{% trans "Go to any PayShop location (supermarkets, post offices, etc.)" %}</li>
                        <li>{% trans "Tell the cashier you want to make a PayShop payment" %}</li>
                        <li>{% trans "Provide the reference number above" %}</li>
                        <li>{% trans "Pay the exact amount in cash" %}</li>
                        <li>{% trans "Keep your receipt as proof of payment" %}</li>
                    </ol>
                    
                    <p><small>{% trans "Your order will be confirmed automatically once payment is received (usually within a few minutes)." %}</small></p>
                </div>
            </div>
        </div>
        
        {% if provider.test_mode_message %}
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i>
                {{ provider.test_mode_message }}
            </div>
        {% endif %}
    </div>
</div>
